<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>
	<typeAliases>
		<!--别名的设置-->
		<typeAlias alias="page" type="com.multipless.egogoal.btoc.aop.Page"/> 
	</typeAliases>
	<!-- 拦截器及方言设置 -->
 	<plugins>
	        <plugin interceptor="com.multipless.egogoal.btoc.aop.PageInterceptor">
	     	     <property name="dialect" value="mysql"/>  
	        </plugin>
	</plugins>
</configuration>